<div class="background">
  <div class="container">
    <div class="registration-form">
        <div>
          <input [(ngModel)]="username" type="text" id="username" name="username" placeholder="username" required>
        </div>
        <div>
          <input [(ngModel)]="email" type="email" id="email" name="email" placeholder="email" required>
        </div>
        <div>
          <input [(ngModel)]="password" type="password" id="password" name="password" placeholder="password" required>
        </div>
        <div>
          <input [(ngModel)]="firstName" type="text" id="firstName" name="firstName" placeholder="first name" required>
        </div>
        <div>
          <input [(ngModel)]="lastName" type="text" id="lastName" name="lastName" placeholder="last name" required>
        </div>
        <div>
          <input [(ngModel)]="dob" type="date" id="dob" name="dob" placeholder="date of birth" required>
        </div>
        <div>
          <textarea [(ngModel)]="description" style="padding-top: 20px; padding-bottom: 20px; border-radius: 5px;" id="description" name="description" placeholder="description"></textarea>
        </div>
        <button (click)="register()" type="submit" class="registration-button">Register</button>
    </div>
  </div>
</div>
