<app-navigation></app-navigation>
<div class="container">
    <div [@transitionAnimation] class="profile-edit-form">
<!--        <div *ngIf="(!profilePicture || profilePicture.trim().toString() === '') && localUrl === null "-->
<!--             class="profile-picture-container">-->
<!--            <img class="profile-edit-img" src="assets/images/default-picture-profile.jpg" alt="Profile Picture">-->
<!--        </div>-->
        <div *ngIf="profilePicture && profilePicture.trim().toString() !== '' || localUrl !== null "
             class="profile-picture-container">
            <img style="display: none" #profilePictureEditRef (load)="onLoad(profilePictureEditRef)" *ngIf="localUrl === null" class="profile-edit-img"
                 [src]="profilePicture.toString()"
                 alt="Profile Picture">
            <img style="filter: blur(9px)" *ngIf="!imgLoaded && localUrl === null" class="profile-edit-img"
                 [src]="profilePictureThumbnail.toString()"
                 alt="Thumbnail Profile Picture">
            <img *ngIf="localUrl !== null" [src]="localUrl" class="profile-edit-img" alt="New profile Picture">
        </div>
        <input type="file" (change)="showPreviewImageAndSetFile($event)" #fileSelect id="fileUpload" name="fileUpload"
               multiple="multiple" accept="image/*" style="display:none;"/>
        <button type="submit" (click)="fileSelect.click()" class="profile-picture-edit-button">Choose picture</button>
        <div>
        <textarea [(ngModel)]="text" style="padding-top: 20px; padding-bottom: 20px; border-radius: 5px; height: 200px; width: 200px"
                  id="description" name="description" placeholder="text"></textarea>
        </div>
        <button (click)="post()" type="submit" class="profile-edit-button">Post</button>
        <div *ngIf="errorToggle" style="color: red">{{errorMessage}}</div>
        <app-spinning *ngIf="isSpinning"></app-spinning>
    </div>
</div>
