<nav [@transitionAnimation] [ngClass]="{'navbar': true, 'sticky': isSticky}" class="navbar">
    <ul class="nav-list">
        <li><button (click)="toHome()" class="button">Home</button></li>
        <li><button (click)="toGroups()" class="button">Groups</button></li>
        <li><button (click)="toProfile()" class="button">Profile</button></li>
        <li><button (click)="toNotifications()" class="button">Notifications</button></li>
        <li><button (click)="toAccountEdit()" class="button">Account</button></li>
        <li *ngIf="isProfileOrEdit()" ><button (click)="toProfileEdit()" class="button-green">Edit profile</button></li>
        <li class="nav-right"><button (click)="logout()" class="button-red">Logout</button></li>
    </ul>
</nav>
