.navbar {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /*backdrop-filter: blur(10px);*/
    padding: 20px 20px;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list li:last-child {
    margin-right: 0;
    margin-left: auto;
}

.nav-list .button {
    text-decoration: none;
    color: white;
    background-color: #2196f3;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.nav-list .button-green {
    text-decoration: none;
    color: white;
    background-color: #40c730;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.nav-list .button-red {
    text-decoration: none;
    color: white;
    background-color: #cb1a1a;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.nav-list .button:hover {
    background-color: #1976d2;
}

.button-active {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #065bab;
}

.nav-list .button-green:hover {
    background-color: #4da85a;
}

.nav-list .button-red:hover {
    background-color: #a62020;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
}

.search-button {
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.button-green {
    text-decoration: none;
    color: white;
    background-color: #40c730;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 3px
}
.button-green:hover {
    background-color: #4da85a;
}
