<app-navigation></app-navigation>
<div class="container">
    <div [@transitionAnimation] class="profile-container">
        <div class="user-profile">
            <div *ngIf="!profilePicture " class="profile-picture">
                <img src="assets/images/default-picture-profile.jpg" alt="Profile Picture">
            </div>
            <div *ngIf="profilePicture" class="profile-picture">
                <img style="display: none" #profilePictureRef (load)="onLoad(profilePictureRef)" src="{{profilePicture.toString()}}" alt="Profile Picture">
            </div>
            <div *ngIf="profilePicture && profilePictureThumbnail && !imageLoaded" class="profile-picture">
                <img style="filter: blur(9px)" src="{{profilePictureThumbnail.toString()}}" alt="Thumbnail Profile Picture">
            </div>
            <div class="user-info">
                <div class="username">
                    <strong>Username:</strong> {{username}}
                </div>
                <div class="first-name">
                    <strong>First Name:</strong> {{firstName}}
                </div>
                <div class="last-name">
                    <strong>Last Name:</strong> {{lastName}}
                </div>
                <div class="date-of-birth">
                    <strong>Date of Birth:</strong> {{dateOfBirth.toString()}}
                </div>
                <div class="description">
                    <strong>Description:</strong> {{description}}
                </div>
            </div>
            <button *ngIf="isCurrent()" (click)="toProfileEdit()" class="button-green">Edit profile</button>
        </div>
    </div>
</div>
