<app-navigation></app-navigation>
<div [@transitionAnimation] class="container">
    <div class="profile-container">
        <div class="user-profile">
            <div class="profile-picture">
                <img src="assets/images/groops.jpg" alt="Profile Picture">
            </div>
            <div class="user-info">
                <div class="username">
                    <strong>Username:</strong> john_doe
                </div>
                <div class="email">
                    <strong>Email:</strong> john@example.com
                </div>
                <div class="first-name">
                    <strong>First Name:</strong> John
                </div>
                <div class="last-name">
                    <strong>Last Name:</strong> Doe
                </div>
                <div class="date-of-birth">
                    <strong>Date of Birth:</strong> January 1, 1990
                </div>
                <div class="description">
                    <strong>Description:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
        </div>
    </div>
</div>
