.container {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  min-height: 85.1vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 10px auto 0;
  color: white
}

.profile-container {
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  min-height: 80vh;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: auto 0;
  color: white
}

/* Center the user profile vertically and horizontally */
.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

/* Style the profile picture */
.profile-picture {
  width: 600px;
  /*height: 55vh;*/
  border: 2px solid #000; /* Square border */
  overflow: hidden; /* Crop the image to fit the container */
  border-radius: 10%; /* Create a circular border */
}

.profile-picture img {
  width: 100%;
  height: 50vh;
  object-fit: cover; /* Ensure the entire image fits */
}

/* Style user information */
.user-info {
  margin-top: 20px;
  text-align: center;
  width: 50%;
}

.user-info > div {
  margin: 10px 0;
}

/* Additional styling for strong (bold) text */
strong {
  font-weight: bold;
}


.button-green {
  text-decoration: none;
  color: white;
  background-color: #40c730;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.button-green:hover {
  background-color: #4da85a;
}
