<app-navigation></app-navigation>
<div [@transitionAnimation] class="container">
    <div class="profile-container">
        <div class="user-profile">
            <div *ngIf="profilePicture.trim().toString() === '' " class="profile-picture">
                <img src="assets/images/default-picture-profile.jpg" alt="Profile Picture">
            </div>
            <div *ngIf="profilePicture.trim().toString() !== '' " class="profile-picture">
                <img src="{{profilePicture.toString()}}" alt="Profile Picture">
            </div>
            <div class="user-info">
                <div class="username">
                    <strong>Username:</strong> {{username}}
                </div>
                <div class="first-name">
                    <strong>First Name:</strong> {{firstName}}
                </div>
                <div class="last-name">
                    <strong>Last Name:</strong> {{lastName}}
                </div>
                <div class="date-of-birth">
                    <strong>Date of Birth:</strong> {{dateOfBirth.toString()}}
                </div>
                <div class="description">
                    <strong>Description:</strong> {{description}}
                </div>
            </div>
        </div>
    </div>
</div>
