<div class="background">
  <div class="container">
    <form (submit)="$event.preventDefault()" class="login-form">
      <!--      <div>-->
      <!--        <label style="text-align: center" for="username">Username:</label>-->
      <!--      </div>-->
      <div>
        <input [value]="username" type="text" id="username" name="username" placeholder="username" required>
      </div>
      <!--      <div>-->
      <!--        <label for="password">Password:</label>-->
      <!--      </div>-->
      <div>
        <input [value]="password" type="password" id="password" name="password" placeholder="password" required>
      </div>
      <button (click)="login()" type="submit" class="login-button">Login</button>
    </form>
  </div>
</div>
