<app-navigation (toggleSearchEvent)="handleSearchEvent($event)" (toggleMyEvent)="handleToggleMyEvent($event)" ></app-navigation>
<div class="container scrollable-content">
    <div class="container-groups">
        <div [@transitionAnimation] (click)="toGroupById(group.id)" class="registration-form"  *ngFor="let group of groups">
            <div>
                <img *ngIf="group.profilePictureThumbnailDownloadLink"
                     src="{{group.profilePictureThumbnailDownloadLink}}"
                     class="profile-edit-img"
                     alt="New profile Picture">
            </div>
            <img *ngIf="!group.profilePictureThumbnailDownloadLink" src="assets/images/groops.jpg"
                 class="profile-edit-img"
                 alt="New profile Picture">
            <div class="container-data-col">
                <div class="data" style="color: white">{{group.name}}</div>
                <div *ngIf="!isMember(group.id) && !hasRequestedJoin(group.id) && isHere" class="data"><button (click)="requestJoiningGroup(group.id, $event)" class="button-green">Join</button></div>
                <div *ngIf="!isMember(group.id) && hasRequestedJoin(group.id) && isHere" class="data"><button (click)="cancelRequestJoiningGroup(group.id, $event)" class="button-blue">Pending join</button></div>
            </div>
        </div>
    </div>
</div>
