<div class="background">
    <div [@transitionAnimation] class="container">
        <form (submit)="$event.preventDefault()" class="login-form">
            <div>
                <input [(ngModel)]="username" type="text" id="username" name="username" placeholder="username" required>
            </div>
            <div *ngIf="usernameRequiredError.length != 0" style="color: red">
                {{usernameRequiredError}}
            </div>
            <button (click)="forgotPassword()" type="submit" class="login-button">Confirm</button>
            <div *ngIf="errorToggle" style="color: red">{{errorMessage}}</div>
        </form>
    </div>
</div>
