<app-navigation></app-navigation>
<div [@transitionAnimation] class="container">
    <div class="profile-edit-form">
        <div *ngIf="(!profilePicture || profilePicture.trim().toString() === '') && localUrl === null "
             class="profile-picture-container">
            <img class="profile-edit-img" src="assets/images/default-picture-profile.jpg" alt="Profile Picture">
        </div>
        <div *ngIf="profilePicture &&profilePicture.trim().toString() !== '' || localUrl !== null "
             class="profile-picture-container">
            <img *ngIf="localUrl === null" class="profile-edit-img" [src]="profilePicture.toString()"
                 alt="Profile Picture">
            <img *ngIf="localUrl !== null" [src]="localUrl" class="profile-edit-img" alt="New profile Picture">
        </div>
        <input type="file" (change)="showPreviewImageAndSetFile($event)" #fileSelect id="fileUpload" name="fileUpload"
               multiple="multiple" accept="image/*" style="display:none;"/>
        <button type="submit" (click)="fileSelect.click()" class="profile-picture-edit-button">Choose picture</button>
        <div>
            <input [(ngModel)]="username" type="text" id="username" name="username" placeholder="username" required>
        </div>
        <div *ngIf="usernameRequiredError.length != 0" style="color: red">
            {{usernameRequiredError}}
        </div>
        <div *ngIf="usernameTakenError.length != 0" style="color: red">
            {{usernameTakenError}}
        </div>
        <div *ngFor="let passwordValidationMessage of passwordValidationMessages" style="color: red">
            {{passwordValidationMessage}}
        </div>
        <div>
            <input [(ngModel)]="firstName" type="text" id="firstName" name="firstName" placeholder="first name"
                   required>
        </div>
        <div *ngIf="firstNameRequiredError.length != 0" style="color: red">
            {{firstNameRequiredError}}
        </div>
        <div>
            <input [(ngModel)]="lastName" type="text" id="lastName" name="lastName" placeholder="last name" required>
        </div>
        <div *ngIf="lastNameRequiredError.length != 0" style="color: red">
            {{lastNameRequiredError}}
        </div>
        <div>
            <input [(ngModel)]="dob" type="date" id="dob" name="dob" placeholder="date of birth" required>
        </div>
        <div *ngIf="dobRequiredError.length != 0" style="color: red">
            {{dobRequiredError}}
        </div>
        <div>
        <textarea [(ngModel)]="description" style="padding-top: 20px; padding-bottom: 20px; border-radius: 5px;"
                  id="description" name="description" placeholder="description"></textarea>
        </div>
        <button (click)="updateProfile()" type="submit" class="profile-edit-button">Update</button>
        <app-spinning *ngIf="isSpinning"></app-spinning>
    </div>
</div>
