<app-navigation></app-navigation>
<div class="background">
    <div [@transitionAnimation] class="container">
        <div id="accountEditPasswordValidationMessagesForm" class="registration-form1">
            <div>
                <input [(ngModel)]="password1" type="password" id="password1" name="password1" placeholder="enter to change password" required>
            </div>
            <div *ngIf="passwordRequiredError1.length != 0" style="color: red">
                {{passwordRequiredError1}}
            </div>
            <div>
                <input [(ngModel)]="password2" type="password" id="password2" name="password2" placeholder="enter again" required>
            </div>
            <div *ngIf="passwordRequiredError2.length != 0" style="color: red">
                {{passwordRequiredError2}}
            </div>
            <div *ngIf="passwordValidationMessages.length !== 0">
                <div *ngFor="let passwordValidationMessage of passwordValidationMessages" style="color: red">
                    {{passwordValidationMessage}}
                </div>
            </div>
            <button (click)="changePassword()" type="submit" class="registration-button">Update password</button>
        </div>
        <div class="registration-form2">
            <div>
                <input [(ngModel)]="email" type="email" id="email" name="email" placeholder="change email" required>
            </div>
            <button (click)="changeEmail()" type="submit" class="registration-button">Update email</button>
            <div *ngIf="emailRequiredError.length != 0" style="color: red">
                {{emailRequiredError}}
            </div>
            <div *ngIf="emailFormatError.length != 0" style="color: red">
                {{emailFormatError}}
            </div>
        </div>
    </div>
</div>
