<div class="background">
    <div [@transitionAnimation] class="container">
        <div (submit)="$event.preventDefault()" class="confirm-email-div">
            <form (submit)="$event.preventDefault()" class="login-form">
                <h1 style="color: #2196f3">Enter a new password</h1>
                <div>
                    <input [(ngModel)]="password1" type="password" id="password1" name="password1"
                           placeholder="enter password" required>
                </div>
                <div *ngIf="passwordRequiredError1.length != 0" style="color: red">
                    {{passwordRequiredError1}}
                </div>
                <div>
                    <input [(ngModel)]="password2" type="password" id="password2" name="password2"
                           placeholder="enter password again" required>
                </div>
                <div *ngIf="passwordRequiredError2.length != 0" style="color: red">
                    {{passwordRequiredError2}}
                </div>
                <button (click)="confirm()" type="submit" class="login-button">Confirm</button>
                <div *ngIf="errorToggle" style="color: red">{{errorMessage}}</div>
            </form>
        </div>
    </div>
</div>
